.px-medium{
    padding-inline: 10px;
}
.appContainer{
    position: absolute;
    top: 60px;
    left: 0;
    background-color: var(--primary-bg);
    height: calc(100vh - 60px);
    width: 100%;
    
}

.container{
    width: 90%;
    margin: 0 auto;
}

.content-container{
    width: 90%;
    margin: 0 auto;
    height: 100%;
    position: relative;
}






@media (max-width: 968px) {
    .appContainer{
        top: 134px;
        height: calc(100vh - 134px);
    }
    .content-container{
        width: 100%;
    }

}