main{
    height: 100vh;
    width: 100%;
}

.special-links{
    position: fixed;
    top: 60px;
    left: 60px;
    width: 200px;
    height: 100%;
    padding: 50px 10px;
}
.contents{
    position: absolute;
    top: 0;
    right: 0;
    width: calc(100% - 250px);
    height: 100%;
}
.admin-page{
    width: 100vw;
    height: 100vh;
    position: fixed;
    inset: 0;
}
.special-links ul{
    list-style-type: none;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.special-links ul li{
    width: 100%;
}
.logout-btn{
    outline: none;
    border: 0;
    font-family: interSemiBold;
    font-size: 1rem;
    color: var(--font-chat);
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    gap: 10px;
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    box-shadow: var(--shadow-md);
    background-color: var(--card-tertiary);
}

.special-links ul li a{
    font-family: interSemiBold;
    font-size: 1rem;
    color: var(--font-chat);
    display: flex;
    align-items: center;
    text-decoration: none;
    gap: 10px;
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    box-shadow: var(--shadow-md);
    background-color: var(--card-tertiary);
    transition: all .3s ease-in-out;
}
.special-links ul li a.active{
    background-color: var(--btn-primary);
    color: var(--card-secondary);
    transform: translateX(10px);
}




@media (max-width: 968px) {
    .special-links{
        display: none;
    }
    .contents {
        left: 0;
        width: 100%;
    }

}